body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header { body {
    background-image: url('https://github.com/IMG-20240801-WA0108.jpg');
    background-size: cover; /* يجعل الصورة تغطي كامل الخلفية */
    background-position: center; /* يركز الصورة في منتصف الخلفية */
    background-repeat: no-repeat; /* يمنع تكرار الصورة */
}
    background: body {
    background-image: url('https://github.com/IMG-20240801-WA0108.jpg.jpg');
    background-size: cover; /* يجعل الصورة تغطي كامل الخلفية */
    background-position: center; /* يركز الصورة في منتصف الخلفية */
    background-repeat: no-repeat; /* يمنع تكرار الصورة */
    }
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form textarea, form button {
    margin-bottom: 1rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
